.body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.headshotImage{
    height: 239px;
    width: 233px;
}
#center{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.pdfIframe{
    height: 500px;
    width: 500px;
}
.websiteIframe{
    height:500px;
    width:500px;
}
